h1 {
    background-color: pink;
    text-align: center;
    text-decoration: dotted underline red;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    word-spacing: 1rem;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    border: 2px solid palevioletred;
    padding: 1rem;
    margin: 2rem;
}